<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.pipe.dataVsualization.dataMonitoring.DataMonitoringMapper">

    <sql id="sensorAreaFilter">
        <if test="areaId != null">
            AND (
                (MOD(#{areaId}, 10000) = 0 AND s.area_id BETWEEN #{areaId} AND #{areaId} + 9999)
                OR (MOD(#{areaId}, 10000) != 0 AND MOD(#{areaId}, 100) = 0 AND s.area_id BETWEEN #{areaId} AND #{areaId} + 99)
                OR (MOD(#{areaId}, 100) != 0 AND s.area_id = #{areaId})
            )
        </if>
    </sql>

    <!-- 查询区域四维度数据 -->
    <select id="selectAreaDetails" resultType="com.gxa.pipe.dataVsualization.dataMonitoring.AreaDetailResponse">
        SELECT 
            AVG(i.traffic) as ave_flow,
            AVG(i.pressure) as ave_pressure,
            AVG(i.temperature) as ave_temperature,
            AVG(i.shake) as ave_vibration,
            UNIX_TIMESTAMP(DATE(i.create_time)) * 1000 as time
        FROM inspection i
        INNER JOIN sensor s ON i.sensor_id = s.id
        <where>
            <include refid="sensorAreaFilter"/>
            <if test="startTime != null and startTime != 0">
                AND i.create_time &gt;= FROM_UNIXTIME(#{startTime}/1000)
            </if>
            <if test="endTime != null and endTime != 0">
                AND i.create_time &lt;= FROM_UNIXTIME(#{endTime}/1000)
            </if>
        </where>
        GROUP BY DATE(i.create_time), time
        ORDER BY DATE(i.create_time)
    </select>

    <!-- 查询管道四维度数据 -->
    <select id="selectPipeDetails" resultType="com.gxa.pipe.dataVsualization.dataMonitoring.PipeDetailResponse">
        SELECT 
            AVG(i.traffic) as ave_flow,
            AVG(i.pressure) as ave_pressure,
            AVG(i.temperature) as ave_temperature,
            AVG(i.shake) as ave_vibration,
            UNIX_TIMESTAMP(DATE(i.create_time)) * 1000 as time
        FROM inspection i
        INNER JOIN sensor s ON i.sensor_id = s.id
        <where>
            <if test="id != null">
                AND s.pipeline_id = #{id}
            </if>
            <if test="segmentId != null">
                AND s.pipe_segment_id = #{segmentId}
            </if>
            <if test="segmentIds != null and segmentIds.size() > 0">
                AND s.pipe_segment_id IN
                <foreach collection="segmentIds" item="segmentIdItem" open="(" separator="," close=")">
                    #{segmentIdItem}
                </foreach>
            </if>
            <if test="startTime != null and startTime != 0">
                AND i.create_time &gt;= FROM_UNIXTIME(#{startTime}/1000)
            </if>
            <if test="endTime != null and endTime != 0">
                AND i.create_time &lt;= FROM_UNIXTIME(#{endTime}/1000)
            </if>
        </where>
        GROUP BY DATE(i.create_time), time
        ORDER BY DATE(i.create_time)
    </select>

    <select id="selectPipeSegmentSelections" resultType="com.gxa.pipe.dataVsualization.dataMonitoring.PipeSegmentSelection">
        SELECT
            id,
            pipe_id AS pipeId,
            segment_order AS segmentOrder
        FROM pipe_segment
        WHERE pipe_id = #{pipeId}
          AND id IN
        <foreach collection="segmentIds" item="segmentId" open="(" separator="," close=")">
            #{segmentId}
        </foreach>
        ORDER BY segment_order
    </select>

    <!-- 查询管道关键指标卡数据 -->
    <select id="selectPipeKeyIndicators" resultType="com.gxa.pipe.dataVsualization.dataMonitoring.PipeIndicatorResponse">
        SELECT 
            AVG(i.temperature) as ave_temperature,
            CASE 
                WHEN AVG(i.temperature) &lt; 20 THEN 0
                WHEN AVG(i.temperature) &lt; 50 THEN 1
                WHEN AVG(i.temperature) &lt; 80 THEN 2
                ELSE 3
            END as temperature_status,
            
            AVG(i.traffic) as ave_flow,
            CASE 
                WHEN AVG(i.traffic) &lt; 10 THEN 0
                WHEN AVG(i.traffic) &lt; 30 THEN 1
                WHEN AVG(i.traffic) &lt; 50 THEN 2
                ELSE 3
            END as flow_status,
            
            AVG(i.pressure) as ave_pressure,
            CASE 
                WHEN AVG(i.pressure) &lt; 5 THEN 0
                WHEN AVG(i.pressure) &lt; 15 THEN 1
                WHEN AVG(i.pressure) &lt; 25 THEN 2
                ELSE 3
            END as pressure_status,
            
            AVG(i.shake) as ave_vibration,
            CASE 
                WHEN AVG(i.shake) &lt; 2 THEN 0
                WHEN AVG(i.shake) &lt; 5 THEN 1
                WHEN AVG(i.shake) &lt; 8 THEN 2
                ELSE 3
            END as vibration_status
        FROM inspection i
        INNER JOIN sensor s ON i.sensor_id = s.id
        <where>
            <if test="pipeId != null and pipeId != ''">
                AND s.pipeline_id = #{pipeId}
            </if>
            <if test="segmentId != null and segmentId != ''">
                AND s.pipe_segment_id = #{segmentId}
            </if>
            <if test="segmentIds != null and segmentIds.size() > 0">
                AND s.pipe_segment_id IN
                <foreach collection="segmentIds" item="segmentIdItem" open="(" separator="," close=")">
                    #{segmentIdItem}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
