<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.pipe.dataVsualization.dataMonitoring.DataMonitoringMapper">

    <!-- 查询区域四维度数据 -->
    <select id="selectAreaDetails" resultType="com.gxa.pipe.dataVsualization.dataMonitoring.AreaDetailResponse">
        SELECT 
            AVG(i.traffic) as ave_flow,
            AVG(i.pressure) as ave_pressure,
            AVG(i.temperature) as ave_temperature,
            AVG(i.shake) as ave_vibration,
            UNIX_TIMESTAMP(DATE(i.create_time)) * 1000 as time
        FROM inspection i
        INNER JOIN sensor s ON i.sensor_id = s.id
        <where>
            <if test="areaId != null">
                AND s.area_id = #{areaId}
            </if>
            <if test="startTime != null and startTime != 0">
                AND i.create_time &gt;= FROM_UNIXTIME(#{startTime}/1000)
            </if>
            <if test="endTime != null and endTime != 0">
                AND i.create_time &lt;= FROM_UNIXTIME(#{endTime}/1000)
            </if>
        </where>
        GROUP BY DATE(i.create_time), time
        ORDER BY DATE(i.create_time)
    </select>

</mapper>