# 开发环境日志
logging:
  level:
    com.gxa.pipe: debug
    root: info
    org:
      springframework:
        jdbc:
          support:
            JdbcTransactionManager: debug

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/pipeline_management_system?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: change_your_username
    password: change_your_password

agent:
  service:
    base-url: http://127.0.0.1:8000
    internal-jwt-secret: change-this-secret
    audience: pipeline-agent
